.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: red;
  background: black;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bolder;
  color: red;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  color: red;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: red;
  color: white;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
    
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}
